<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12 p-3">
        {{ content }}
        </div>
        <a href="{{site.navbar.nav5link}}" class="col-md-4 p-3 cus">
            <img class="img-fluid" width="100%" height="100%" alt="{{page.fleet1}}"
            src="{{page.fleet1image}}"/>
            <div class="p-3">
            <h3>{{page.fleet1}}</h3>
        </div>
    </a>
    <a href="{{site.navbar.nav5link}}" class="col-md-4 p-3 cus">
            <img class="img-fluid" width="100%" height="100%" alt="{{page.fleet2}}"
            src="{{page.fleet2image}}"/>
            <div class="p-3">
            <h3>{{page.fleet2}}</h3>
        </div>
    </a>
    <a href="{{site.navbar.nav5link}}" class="col-md-4 p-3 cus">
            <img class="img-fluid" width="100%" height="100%" alt="{{page.fleet3}}"
            src="{{page.fleet3image}}"/>
            <div class="p-3">
            <h3>{{page.fleet3}}</h3>
        </div>
    </a>
    <a href="{{site.navbar.nav5link}}" class="col-md-4 p-3 cus">
            <img class="img-fluid" width="100%" height="100%" alt="{{page.fleet4}}"
            src="{{page.fleet4image}}"/>
            <div class="p-3">
            <h3>{{page.fleet4}}</h3>
        </div>
    </a>
    <a href="{{site.navbar.nav5link}}" class="col-md-4 p-3 cus">
            <img class="img-fluid" width="100%" height="100%" alt="{{page.fleet5}}"
            src="{{page.fleet5image}}"/>
            <div class="p-3">
            <h3>{{page.fleet5}}</h3>
        </div>
    </a>
    <a href="{{site.navbar.nav5link}}" class="col-md-4 p-3 cus">
            <img class="img-fluid" width="100%" height="100%" alt="{{page.fleet6}}"
            src="{{page.fleet6image}}"/>
            <div class="p-3">
            <h3>{{page.fleet6}}</h3>
        </div>
    </a>
    </div>
</div>