<header class="site-header">
  <div class="container-fluid"
  style="background-image: url('{{site.cover}}');
background-repeat: no-repeat;
background-position: center; 
height: 400px;
background-size: cover;">

  <div class="row">
  <div class="col-md-12 p-3 p-md-5"></div>
  <div class="col-md-12 p-3 p-md-5 mt-5 mb-5">
  <div class="text-center text-white p-3 p-md-5">
<!-- <h1><strong><a href="/" class="text-white">{{page.title}}</a></strong></h1>
  <h2>{{page.description}}</h2>
  <a href="https://axcora.my.id/limo/blog.html" class="btn btn-lg btn-light col-md-3 col-12">Book Now</a>
-->
  </div>
  </div>
  </div>
  </div>
</header>
